.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tw-follow-card-btn {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
}

.tw-follow-card-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-follow-card-username {
  opacity: 6;
}

.tw-follow-card-info {
  display: flex;
  flex-direction: column;
}

.tw-follow-card-header {
  display: flex;
  align-items: center;
}

.tw-follow-card {
  display: flex;
  align-items: center;
  color: #fff;
  /*margin-bottom: 20px; */
  justify-content: space-between;
  /*font-size: 8rem; */
}

.section-cards{
  display: flex;
  flex-direction: column;
  gap: 16px;
}


